<div class="jumbotron text-center">
    <img src="/assets/images/tick.png" style="width: 100px; height: 100px;">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>You have successfully</strong> purchased the product and </p>
    <p>you can view the details of the same in your dashboard. Your product will be home soon.</p>
    <hr style="width: 50%;">
    <p>
      Having trouble? <a [routerLink]="['/product-faq']">FAQs</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary" [routerLink]="['/home']" role="button">Continue to homepage</a>
    </p>
</div>