<div id="faq-products">
    <br>
     <div class="container">
        <div id="faq-products-row" class="row justify-content-center align-items-center">
            
            <div id="faq-products-column" class="mybackground ">
                    <div class="faq">  
                        <h3 class="text-center text-primary"><b>Product Frequently Asked Questions</b></h3>
                        <br/>
                        <br/>
                        
                        <h4><b>1. What is the mobile operating system?</b></h4>
                        <p>Android OS</p>

                        <h4><b>2. What is the display type?</b></h4>
                        <p>It is Super AMOLED with a resolution of 1080 x 2400 pixels</p>

                        
                        <h4><b>3. What is the battery type?</b></h4>
                        <p>It is a Li-Po 4000 mAh, non-removable battery</p>
                        
                        <h4><b>4. Does this product support dual SIM?</b></h4>
                        <p>There are two nano SIM slots available</p>

                        <h4><b>5. What is warranty I get on the product?</b></h4>
                        <p>There is a warranty of 1 year from the date of purchase</p>
        
                    </div>

                    <div class="form-group text-center">                                
                        <input type="submit" name="submit" class="btn btn-primary btn-small btn-center" value="Go Back" (click)="previousPage()">
                    </div>
            </div>
        </div>
    </div>
    <br>
</div>