<div id="faq-home">
    <br>
     <div class="container">
        <div id="faq-home-row" class="row justify-content-center align-items-center">
            
            <div id="faq-home-column" class="mybackground ">
                    <div class="faq">  
                        <h3 class="text-center text-primary"><b>Frequently Asked Questions</b></h3>
                        <br/>
                        <br/>
        
                        <h4><b>1. What is No Cost EMI?</b></h4>
                        <p>No Cost EMI is an offer by which you pay your EMI provider only the product price, equally divided over your repayment timeline. 
                            For example, if you buy a Rs.18,000 item at a 6 month tenure, you will pay your EMI provider Rs.3,000 every month for 6 months, amounting to a total of Rs.18,000.</p>

                        <h4><b>2. Which payment methods can I use to get a No Cost EMI?</b></h4>
                        <p>Its available on our issued EMI Cards Only.</p>

                        <h4><b>3. What card options do I get?</b></h4>
                        <p>We offer Gold and Titanium cards. They have different limits and services. For more information check the information on the home page</p>

                        <h4><b>4. Are there any fees or down payment?</b></h4>
                        <p>There are no processing fees or down payment for these transactions. Your bank may levy GST or other taxes on the interest component of the EMI. There is a one time registration fee, ₹ 500 for Gold cards and ₹ 800 for Titanium cards</p>

                        <h4><b>5. Is No cost EMI available on all products on the site?</b></h4>
                        <p>No cost EMI is available on wide selection of categories including mobiles, large appliances, laptops and much more. It is applicable on select sellers only. You can check the availability in the offers section on the product detail page</p>
                        <br>

                        <h4><b>6. Is there any processing fee?</b></h4>
                        <p>There is a processing on every product. If the period of 3 months is selected then the processing fee is 1% of the cost.Similary for 6 Months it is 2 %, 3% for 9 Months and 4% for 12 Months.</p>
                        <br>
        
                    </div>
            </div>
        </div>
    </div>
    <br>
</div>