h2{
    background-color: #eee;
    padding: 10px;
}

.faq {
    max-width: 1000px;
    justify-content: space-evenly;
    border: 1px solid transparent;
    padding: 20px;
    margin-top: 20px;
}

.faq p {
    font-size: 18px;
}

.mybackground{
  /*background-color: #e8e8e8;*/
  /*background-color: #f0f0f0;*/
  background-color: #f8f9fa;
  /*background-color: #ededed94;*/
  padding: 40px 40px 60px 40px;
}
