<div id="faq-products">
    <br>
     <div class="container">
        <div id="faq-products-row" class="row justify-content-center align-items-center">
            
            <div id="faq-products-column" class="mybackground ">
                    <div class="faq">  
                        <h3 class="text-center text-primary"><b>Terms and Conditions</b></h3>
                        <br/>
                        <br/>
                        
                        <p>1. There are two types of EMI cards- Gold and Titanium. Processing fee of Rs.500 will be taken for Gold card and
                            Rs.800 for Titanium card. The card limits will be Rs.50,000 and Rs.80,000 respectively.
                        </p>
 
                       <!-- <h4><b>2. What is the display type?</b></h4>    -->
                        <p>2. Flexible Repayment Tenure: 
                            Choose a tenure according to your needs, from 3 months to 12 months, with pocket-friendly repayment options.
                        </p>

                       <p>3. Products once bought cannot be replaced.</p>
                       <p>4. Products cannot be purchased beyond the card limit. </p>
                       <p>5. The card becomes functional once the admin approves it.</p>

        
                    </div>

                    <div class="form-group text-center">                                
                        <input type="submit" name="submit" class="btn btn-primary btn-small btn-center" value="Go Back" (click)="previousPage()">
                    </div>
            </div>
        </div>
    </div>
    <br>
</div>