<br>
<br>
<h2 class="text-center text-primary"><b>Cards Offered</b></h2>
<br>
<br>
<div class="mybackground">
<div class="container-fluid mt-4">
    <h4 class="text-primary text-center"><b>Gold Card</b></h4>
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="col-auto mb-3">
            <div class="card-gold" style="width: 25rem;">
                <div class="card-body">
                  <p class="card-text" style="color: white;"><b>Name: </b>Jane Doe</p>
                  <p class="card-text" style="color: white;"><b>Card Number: </b>1234 5678 9012</p>
                  <p class="card-text" style="color: white;"><b>Valid Till: </b>12/12/2023</p>
                  <p class="card-text" style="color: white;"><b>Status: </b>Activated</p>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card-gold" style="width: 25rem;">
                <div class="card-body">
                <p class="card-text" style="color: white;"><b>Total Limit: </b>Rs. 50,000</p>
                <p class="card-text" style="color: white;"><b>Credit Used: </b>Rs. 32,499</p>
                <p class="card-text" style="color: white;"><b>Remaining Credit: </b>Rs. 17,501</p>
                <p class="card-text" style="color: white;"><b>Card Type: </b>Gold</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <br>
        <div class="col-auto mb-3">
           <div>
            <p>This is the basic gold card that we offer for our regular customers. This card comes with a number of benefits.</p>
            <p>In this card, the user gets a limit of Rs. 50,000/- as card limit by which they can purchase our products. </p>
        
            </div>
        </div>
    </div>

    <hr style="color: black; width: 50%;">


    <h4 class="text-primary text-center"><b>Titanium Card</b></h4>
    <br>
    <br>

    <div class="row justify-content-center">
        <div class="col-auto mb-3">
            <div class="card-titanium" style="width: 25rem;">
                <div class="card-body">
                  <p class="card-text" style="color: white;"><b>Name: </b>John Doe</p>
                  <p class="card-text" style="color: white;"><b>Card Number: </b>1234 5678 9012</p>
                  <p class="card-text" style="color: white;"><b>Valid Till: </b>1/1/2024</p>
                  <p class="card-text" style="color: white;"><b>Status: </b>Activated</p>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card-titanium" style="width: 25rem;">
                <div class="card-body">
                <p class="card-text" style="color: white;"><b>Total Limit: </b>Rs. 80,000</p>
                <p class="card-text" style="color: white;"><b>Credit Used: </b>Rs. 50,000</p>
                <p class="card-text" style="color: white;"><b>Remaining Credit: </b>Rs. 30,000</p>
                <p class="card-text" style="color: white;"><b>Card Type: </b>Titanium</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <br>
        <div class="col-auto mb-3">
            <div>
                <p>This is the titanium card that we offer for our premium customers. This card comes with a number of benefits.</p>
                <p>In this card, the user gets a higher limit of Rs. 80,000/- as card limit by which they can purchase our products. </p>
            </div>
        </div>
    </div>
    <br>
</div>

</div>